html,
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

main {
    width: 960px;
    height: 960px;
    display: flex;
    background: lightblue;
    flex-direction: column;
    align-items: stretch;

}

.section {
    display: flex;
    background-color: red;
    flex-direction: row;
    flex-wrap: wrap;
}